<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <script type="text/javascript">
            var user = '{{request.user}}'
            function getToken(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie !== '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = cookies[i].trim();
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) === (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		var csrftoken = getToken('csrftoken')

      </script>

    <title>Yulia-shop</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

<!--

TemplateMo 546 Sixteen Clothing

https://templatemo.com/tm-546-sixteen-clothing

-->

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-sixteen.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/paginations.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/cart.css' %}">





  </head>

  <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->

    <!-- Header -->
    <header class="">
      <nav class="navbar navbar-expand-lg">
        <div class="container">
          <a class="navbar-brand" href="/"><h2>Giulia <em>Shop</em></h2></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item active">
                <a class="nav-link" href="/">Home
                  <span class="sr-only">(current)</span>
                </a>
              </li> 
              <li class="nav-item">
                <a class="nav-link" href="">all Products</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:categories' %}">Category</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:location' %}">About</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:cart' %}">Cart 🛒</a>
              </li>
               <li class="nav-item">
                <a class="nav-link" href="{% url 'shop:account' %}">Account</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <!-- Page Content -->
    <!-- Banner Starts Here -->
    <div class="banner header-text">
      <div class="owl-banner owl-carousel">
        <div class="banner-item-01">
          <div class="text-content">
            <h4>Best Offer</h4>
            <h2>New Arrivals On Sale</h2>
          </div>
        </div>
        <div class="banner-item-02">
          <div class="text-content">
            <h4>Flash Deals</h4>
            <h2>Get your best products</h2>
          </div>
        </div>
        <div class="banner-item-03">
          <div class="text-content">
            <h4>Last Minute</h4>
            <h2>Grab last minute deals</h2>
          </div>
        </div>
      </div>
    </div>
    <!-- Banner Ends Here -->
    <div class="latest-products">
      <div class="container">
        {% block content %}
          {% csrf_token %}
        <div class="row">
           <div class="col-md-12">
            <div class="section-heading">
              <h2>Our Products</h2>
              <a href="/">view all products <i class="fa fa-angle-right"></i></a>
            </div>
          </div>
          {% for product in all_products %}
          <div class="col-md-4">
            <div class="product-item">
              {% if product.image %}
                <img src="{{ product.image.url }}" alt=""/>
              {% endif %}
              <div class="down-content">
                <a href="{% url 'shop:product_details' uuid=product.uuid  %}"><h4>{{ product.title }}</h4></a>
                <h6>{{ product.price }} ₴</h6>
                <p>{{ product.description }}</p>
                  <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn btn-lg update-cart">Add to Cart</button>
                <span>Category: {{ product.category }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
        {% endblock content %}
      </div>

        <div class="container">
            {% if page_obj.paginator.num_pages > 1 %}
    <div class="paginate" style="width:600px"><!-- remove width id you don't need it-->
        <ul class="pagination">
            {% if page_obj.has_previous %}
          <li><a href="?page={{ page_obj.previous_page_number }}" rel="prev" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            {% else %}
          <li><a rel="prev" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
<!--                <li class="active "><span>1</span></li>-->
                    <li><a href="?page={{ page_number }}" class="active">{{page_number}}</a></li>
                {% else %}
                    <li><a href="?page={{ page_number }}" class="active">{{page_number}}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" rel="next" class="page-next"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                {% else %}
            <li><a rel="next" class="page-next"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
            {% endif %}
        </ul>

        <div class="clearfix"></div>
      </div>
            {% endif %}
</div>
    <div class="best-features">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="section-heading">
              <h2>About Giulia Shop</h2>
            </div>
          </div>
          <div class="col-md-6">
            <div class="left-content">
              <h4>Looking for the best products?</h4>
              <p><a rel="nofollow" href="https://templatemo.com/tm-546-sixteen-clothing" target="_parent">This template</a> is free to use for your business websites. However, you have no permission to redistribute the downloadable ZIP file on any template collection website. <a rel="nofollow" href="https://templatemo.com/contact">Contact us</a> for more info.</p>
              <ul class="featured-list">
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Consectetur an adipisicing elit</a></li>
                <li><a href="#">It aquecorporis nulla aspernatur</a></li>
                <li><a href="#">Corporis, omnis doloremque</a></li>
                <li><a href="#">Non cum id reprehenderit</a></li>
              </ul>
              <a href="category.html" class="filled-button">Read More</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="right-image">
              <img src="assets/images/feature-image.jpg" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="call-to-action">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <div class="row">
                <div class="col-md-8">
                  <h4>Creative &amp; Unique <em>Giulia</em> Shop</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque corporis amet elite author nulla.</p>
                </div>
                <div class="col-md-4">
                  <a href="#" class="filled-button">Purchase Now</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="inner-content">
              <p>Copyright &copy; 2022 Giulia Shop.
            
            - Design: <a rel="nofollow noopener" href="https://templatemo.com" target="_blank">TemplateMo</a></p>
            </div>
          </div>
        </div>
      </div>
    </footer>


    <!-- Bootstrap core JavaScript -->
    <script src= "{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


    <!-- Additional Scripts -->
    <script src="{% static 'assets/js/custom.js' %}"></script>
    <script src="{% static 'assets/js/cart.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/owl.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>
    <script src="{% static 'assets/js/accordions.js' %}"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


  </body>

</html>
